# ==============================================================================
# DOCKER COMPOSE OVERRIDE (DEVELOPMENT)
# ==============================================================================
# HOW TO RUN:
# 1. DEVELOPMENT: 'docker compose up -d'
#    -> If this file is present, Docker merges it with 'docker-compose.yml'.
#
# 2. PRODUCTION:  'docker compose up -d'
#    -> If you ensure this override file is NOT present on the server, Docker only 
#       uses the base 'docker-compose.yml'.
#    -> Alternatively, use 'docker compose -f docker-compose.yml up -d' to 
#       explicitly ignore this file if it exists on the server.
# ==============================================================================
services:
    myapp:
        ports:
            - "5000:5000" # Open to all interfaces for local testing
        environment:
            - FLASK_ENV=development
        volumes:
            - .:/app # Enable hot-reloading
    myapp_db:
        ports:
            - "5432:5432" # Allows you to connect via DBeaver/PgAdmin locally
        volumes:
            - ./db:/var/lib/postgresql/data # Local project folder
