services:
  mdict_audio:
    image: superkeyor/mdict_audio:latest
    container_name: mdict_audio
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - API_KEY=${API_KEY}
